.home-section {
    position: relative;
    padding: 100px 20px;
    transform: transale3d(0,0,0);
    transition: top .3s cubic-bezier(.4,0,.2,1);
    text-align: center;
  }
  .home-section .mat-subheading-3 {
    text-transform: uppercase;
  }

.container{
    background: url(/assets/images/home_beach.jpg)center center no-repeat;
    background-size: cover;
    max-width: 100%;
}

@media all and (max-width: 680px) {
    .home-section h2 {
        font-size: 2rem;
      }
}
.home-section {
    position: relative;
    padding: 100px 20px;
    transform: transale3d(0,0,0);
    transition: top .3s cubic-bezier(.4,0,.2,1);
    text-align: center;
  }
  .home-section .mat-subheading-3 {
    text-transform: uppercase;
  }

  .rooms-home-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
  }
  
  .rooms-home-display mat-card-header h2 {
    color: white;
    font-size: 34.54px;	letter-spacing: 0.25px;	line-height: 43px;
    color: rgba(0,0,0,0.87);
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .rooms-home-display mat-card-header {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 34px;
    height: 53px;
    width: 100%;
    background: linear-gradient(
      125deg,#fff8e1 0,
      rgba(255, 248, 225,.6)100%);
  }
  
  .rooms-home-display mat-card-actions {
    position: absolute;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  
  .rooms-home-display mat-card {
    height: 587px;
    position: relative;
    text-align: center;
    margin: 1%;
  }
  
  
  .rooms-suites {
    background: url(/assets/images/king.jfif)center center no-repeat;
    background-size: cover;
    height: calc(80vh - 400px);
  }
  .beach-houses {
    background: url(/assets/images/suite.jfif)center center no-repeat;
    background-size: cover;
    height: calc(80vh - 400px);
  }
  .Indian {
    background: url(/assets/images/cabana.jfif)center center no-repeat;
    background-size: cover;
    height: calc(80vh - 400px);
  }
  .Chinese {
    background: url(/assets/images/twin.jfif)center center no-repeat;
    background-size: cover;
    height: calc(80vh - 400px);
  }
  .single {
    background: url(/assets/images/single.jfif)center center no-repeat;
    background-size: cover;
    height: calc(80vh - 400px);
  }
  .double {
    background: url(/assets/images/double.jfif)center center no-repeat;
    background-size: cover;
    height: calc(80vh - 400px);
  }