<div class="container">
    <section class="home-section">
        <div class="home-section-header">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <h1 class="mat-subheading-2 dark-secondary-text">We Serve All Kind of Food</h1>
                </div>
            </div>
        </div>
        <div class="rooms-home-display" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
            <mat-card class="rooms-suites" fxFlex="45%;" fxFlex.sm="100%">
              <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Western</h2>
              </mat-card-header>   
            </mat-card>
            <mat-card class="beach-houses" fxFlex="45%;" fxFlex.sm="100%">
              <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Thai</h2>
              </mat-card-header> 
            </mat-card>      
          </div>
    </section>
    <section class="home-section">
        <div class="rooms-home-display" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
            <mat-card class="Indian" fxFlex="45%;" fxFlex.sm="100%">
              <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Indian</h2>
              </mat-card-header>   
            </mat-card>
            <mat-card class="Chinese" fxFlex="45%;" fxFlex.sm="100%">
              <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Chinese</h2>
              </mat-card-header> 
            </mat-card>      
          </div>
    </section>
</div>